<app-header></app-header>
<app-sidenav></app-sidenav>
<ion-content id="main">
  <div class="view_detail">
    <h1>Event Title</h1>
    <div class="venueAndDate">
      <div class="venue">Venue: Sonipat</div>
      <div class="date">Date: 28 Aug 2020</div>
    </div>
    <div class="description">
      <h4>Descriptoin of event</h4>
      <div class="description_text">
        <p>India has won medals at the BWF World Championships as well, with Padukone winning in 1982. The doubles pairing of Gutta and Ponnappa became the first women to win a medal when they won the bronze in 2011. Pusarla won consecutive bronze medals at 2013 and 2014 editions. Nehwal won a silver at 2015 Championships.</p>
      </div>
    <div class="descImg">
      <img src="https://www.unodc.org/images/southasia//d3b2261239156282a5543182db430dc0.jpg" alt="image">
    </div>
    </div>
  </div>
</ion-content>
<app-tabs></app-tabs>

