.view_detail{
    margin-top: 20px;
}
h1{
    width: fit-content;
    height: auto;
    margin: 0px auto;
    padding: 0px 5px;
}
.venueAndDate{
    width: 100%;
    height:100%;
    float:left;
    margin: 5px 0px;
}
.venue{
    width: auto;
    height:100%;
    float: left;
    padding: 0px 5px;
}
.date{
    width: auto;
    height:100%;
    float: right;
    padding: 0px 5px;
}
.description{
    width:100%;
    height: 100%;
    margin: 20px 0px 0px 0px;
    padding: 5px;
}
.descImg{
    width: 100%;
    height:100%;
    padding:5px;
}