.sideNav {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
  }
  
    ul {
      padding: 0 6px;
      margin-top: 10px;
  
      li {
        line-height: 50px;
        padding: 5px 10px 3px;
        border-bottom: 1px solid #eeeeee;
        display: flex;
        align-items: center;
        img {
          height: 24px;
          margin-right: 10px;
          margin-top: -10px;
        }
      }
    }