<app-header></app-header>
<ion-content>
  <div class="wrapper">
  <div class="box1">
    <h2 class="upcoming">Upcoming events</h2>
    <p class="view">+View All</p>
  </div>
  <ion-card class="card1">
    <ion-card-header>
      <ion-card-title>BWF World Championships</ion-card-title>
      <span class="date">Date:27 Feb 2021</span>
    </ion-card-header>
    <ion-card-content>
      <p class="description">Olympic badminton consists of five events – men’s singles and doubles,
        women’s singles and doubles, and mixed doubles. Each involves a single-elimination tournament,
        with the top eight players or pairs seeded. The Badminton World Federation‘s ranking
        list is used to determine qualification for the Olympic tournament. For singles,
        38 competitors are selected. For doubles, 16 pairs are selected.

      </p>
      <ion-button class="btn" routerLink="/view-detail"><span>View Details</span></ion-button>
    </ion-card-content>
  </ion-card>
  <p id="stars">Our Stars</p>
  <div class="box2">
  <ion-card class="card2">
      <img src="../../assets/player1.jpg" alt="Saina Nehwal">
  </ion-card>
  <ion-card class="card3">
      <img src="../../assets/player2.jpg" alt="PV Sindhu">
  </ion-card>
  </div>
  <p id="achievments">Recent Achievments</p>
  <ion-card class="card4">
     <img src="../../assets/img.jfif" alt="Newspaper photo">
  </ion-card>
  </div>
</ion-content>